<div class="col-md-3">
  <h2>User info</h2>
　name</dr>
　introduction</dr>

  <h2>New book</h2>
  <%= form_with model: book, url: '/books', method: :post do |f| %>
    <h4>Title</h4>
    <%= f.text_field :title %>

    <h4>Opinion</h4>
    <%= f.text_area :body %></dr>

    <%= f.submit 'Create Book' %>
  <% end %>
</div>